/******************* Fonts *******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}


/******************* Hero Profile *******************/

.home-hero-image-div {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.home-hero-image-circle {
    height: 10rem;
    width: 10rem;
    background: red;
    border-radius: 50%;
    margin: auto;
    border: solid;
}


.home-hero-blurb-text{
    text-align: center;
}

/******************* Home Page Big Navigation Buttons *******************/

.home-nav-button-circle {
    height: 8rem;
    width: 8rem;
    background: red;
    border-radius: 50%;
    text-align: center;
    border: 6px solid;
    margin: auto;
    font-size: 5rem;
}

.home-nav-button-div {
    padding: 10rem 0;
}

#home-nav-contact-special-div{
    padding-bottom: 1rem ;
}

.home-nav-contact-special-button{
    margin: auto;
    text-align: center;
    padding: 0.5rem 1rem;
    width: 8rem;
}

/******************* MEDIA QUERIES *******************/

/* smaller than iphone queries */
@media screen and (max-width: 576px) {

    /******* HOME PAGE *******/
    /*full site navigation buttons to be removed*/
    .home-nav-button-div {
        display: none;
    }
}

/* bigger than iphone queries */
@media screen and (min-width: 576px) {

    /******* HOME PAGE *******/
    /*navigation to contact page button to be be added */
    #home-nav-contact-special-div {
        display: none;
    }

    .home {
        height: 30rem;
        /* padding-top: 7rem; */
    }

    .home-hero-image-div {
        padding: 11rem 0 0 18%;
    }

    .home-hero-image-circle{
        width: 20rem;
        height: 20rem;
    }

    .home-hero-blurb{
        padding: 15rem 0;
    }

    .home-hero-blurb-text {
        text-align: left;
    }
}