/******************* Fonts *******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600&family=Roboto+Slab:wght@300;600&display=swap');
/******************* General *******************/
body {
    font-family: 'Roboto Mono', monospace;
    font-weight:100;
    background-color:#264653;
    color:#ffff;
}
.page-header {
    font-family: 'Roboto Slab', monospace;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0;
}
.btn-sienna {
    border: 1px solid #2b343b;
    color: #2b343b;
    background-color: #E9C46A;
}
a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
a:hover {
    color: #fff;
}
/******************* Overhead Site NavBar *******************/
.navbar-bottom-border {
    border-bottom: 1px solid #96ACB7;
}
.nav-link {
    color: #000000;
}
.navbar-brand {
    color: #000000;
    font-weight: 100;
}
.bg-gunmetal {
    background-color: #2B343B;
}
/******************* Home Page Hero Profile Icon *******************/
 /* div containing the hero image */
.home-hero-image-div {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
/* styled circular div which houses profile image  */
.home-hero-image-circle {
    height: 10rem;
    width: 10rem;
    /* insert color palette here */
    background-color: #E76F51;
    background-image: url('../images/hero-image.png');
    background-size: cover;
    /* insert color palette here */
    border: 1rem solid #F4A261;
    border-radius: 50%;
    margin: auto;
}
.home-hero-blurb-text{
    text-align: center;
}
.home-hero-blurb-text > h2{
    font-size: 1.25rem;
    padding: 0;
}
.home-hero-blurb-text > h1{
    font-family: 'Roboto Slab', monospace;
    font-weight: 600;
    font-size: 2.7rem;
    padding: 0;
}
/******************* Home Page Big Navigation Buttons *******************/
.home-nav-button-circle {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    text-align: center;
    /* insert color palette here */
    background:#E76F51;
    /* insert color palette here */
    border: 6px solid #F4A261;
    margin: auto;
    font-size: 5rem;
}
.home-nav-button-div {
    display: none;
}
#home-nav-contact-special-div{
    padding: .5rem;
    margin: 0 30%;
}
.home-nav-contact-special-button{
    margin: auto;
    text-align: center;
    padding: 0.5rem 0;
    width: 8rem;
    color: #2b343b;
    background-color: #E9C46A;
    font-weight: 600;
    border-width: 0;
}
.home-nav-button-object {
    /* insert color palette here */
    color: #ffff;
    text-align: center;
}
.home-nav-button-icon {
    position: relative;
    bottom: .25rem;
}
.home-nav-button-text {
    position: relative;
    color: #ffff;
    top: 1rem;
}
.home-nav-button-object:hover {
    /* insert color palette here */
    color: #E9C46A;
    text-decoration: none;
}
.home-hero-blurb-text > p {
    font-size: 1rem;
    padding: 0;
}
/******************* About Me Page Timeline *******************/
.about-timeline {
    padding: 0;
    margin: 0;
    text-align: center;
}
.about-timeline-visual {
    display: none;   
}
.about-timeline-item {
    text-align: left;
    padding-left: 1rem;
    border-left: .2rem dashed #F4A261;
    font-size: 80%;
}
/* timeline disc (adapted from rosie odenkirk practice bootstrap project) */
.timeline-item-title::before {
    display: block;
    position: absolute;
    left: -.6rem;
    top: .7rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border: .2rem solid #F4A261;
    content: '';
    background: #E9C46A;
}
/******************* Skills Page*******************/
.skills-box {
    color: #fff;
    margin: 1rem .5rem 1rem 0;
    border-radius: 5%;
    padding: 1rem;
    border: .05rem solid #2B343B;
    background-color: #293D47;
}
.skills-box-header {
    text-align: center;
    font-size: 2rem;
}
.coding-languages-item{
    justify-content: left;
    margin: auto;
    padding: .5rem 0;
}
.language-type {
    font-size: 1rem;
    text-align: left;
    padding: 0;
    justify-content: left;
}
.coding-languages-progress-bar{
    margin-top: .25rem;
    padding: 0;
    background-color:#2B343B; 
}
.percentage{
    /* Made using coolors gradient maker at: https://coolors.co/gradient-maker/e76f51-e9c46a?position=0,100&opacity=100,100&type=linear&rotation=0 */
    background: hsla(12, 76%, 61%, 1);
    background: linear-gradient(0deg, hsla(12, 76%, 61%, 1) 0%, hsla(43, 74%, 66%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(12, 76%, 61%, 1) 0%, hsla(43, 74%, 66%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(12, 76%, 61%, 1) 0%, hsla(43, 74%, 66%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E76F51", endColorstr="#E9C46A", GradientType=1 );
}
ul {
    padding:0;
}
/******************* Projects Page *******************/
.projects-box {
    text-align: center;
    border: .05rem solid #2B343B;
    margin: 1rem .5rem 1rem 0;
    padding: 1rem 0;
    border-radius: 5%;
}
.project-card {
    height: 25rem; 
    width: 20rem;
    font-size: 70%;
    background-color: #293D47;
    margin-top: 1rem;
    display: inline-block;
}
.project-card-image{
    height: 50%;
}
/******************* Contact Page *******************/

.contact-form {
    width: 60%;
    margin: auto;
}

.contact-form-item {
    display:flex;
    margin-bottom: .5rem;
    flex-direction: column;
    text-align:center;
}

.form-input {
    background-color: #2B343B;
    color: #fff;
}

/******************* MEDIA QUERIES *******************/
/* bigger than iphone queries */
@media screen and (min-width: 576px) {
    /******* HOME PAGE *******/
    /*navigation to contact page button to be be added (replaces big site navigation buttons)*/
    #home-nav-contact-special-div {
        display: none;
    }
    .home-hero-blurb-text > h2 {
        font-size: 2rem;
    }
    .home-hero-blurb-text > h1 {
        font-size: 4rem;
    }
    .home-nav-button-div {
        display: inline-block;
        padding: 9rem 0 10rem 0;
    }
    .home {
        height: 30rem;
    }
    .home-hero-image-div {
        padding: 11rem 0 0 1%;
    }
    .home-hero-image-circle{
        width: 20rem;
        height: 20rem;
    }
    .home-hero-blurb{
        padding: 15rem 0;
    }
    .home-hero-blurb-text {
        text-align: left;
    }
    .home-hero-blurb-text > p {
        padding-right: 30%;
    }
    /******* ABOUT ME PAGE *******/
    .about-timeline-item {
        border-left: none;
        border-top: .2rem dashed #F4A261;
        padding-top: 1rem;
        margin: 3rem 0;
    }
    .timeline-item-title::before {
        left: 1rem;
        top:-.5rem;
    }
    .about-timeline-visual {
        display: flex;
        justify-content: space-around;
    }
    .about-timeline-image {
        border: solid;
        background-color: #E76F51;
        border: 6px solid #F4A261;
        background-size: cover;
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
    }
    .about-timeline-image.study {
        background-image: url('../images/about-study.jpg');
    }
    .about-timeline-image.work {
        background-image: url('../images/about-work.jpg');
    }
    .about-timeline-image.now {
        background-image: url('../images/about-now.jpg');
    }
}